@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to top, #050505, #232323a9), url("/assets/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.main-cards{
  background-image: linear-gradient(to top, #050505, #23232314 ), linear-gradient(to bottom, #050505, #232323a9), url("/assets/background.jpg");
  background-size: cover;
  background-position: center;
}